<div id="content" class="container finance-container bg-dark row" style="background-color: rgb(36, 32, 32);">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
<label></label>
  </div>  
  <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" >
        <div class="card  border-danger text-center"  >
          <a href="#" routerLink="/programas/hola_tarija">
            <img class="card-img-top img-fluid" src="../../../assets/images/my/boton/holatarija.png " width="100%" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">REVISTA DIGITAL</p>
            </div>
          </a>
          </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" >
        <div class="card  border-danger text-center"  >
          <a href="#" routerLink="/programas/noticiero">
            <img class="card-img-top img-fluid" src="../../../assets/images/my/boton/noticias.png" width="100%" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">NOTICIERO</p>
            </div>
            </a>
          </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" >
        <div class="card  border-danger text-center"  >
          <a href="#" routerLink="/programas/aguante_barrio">
            <img class="card-img-top img-fluid" src="../../../assets/images/my/boton/aguantebarrio.png" width="100%" alt="Card image cap">
            <div class="card-body">
              <p class="card-text"> MAS CERCA DE TÍ </p>
            </div>
            </a>
          </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" >
        <div class="card  border-danger text-center"  >
          <a href="#" routerLink="/programas/cara_a_cara_con_roy">
            <img class="card-img-top img-fluid" src="../../../assets/images/my/boton/caraacara.png" width="100%" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">ENTREVISTAS y DEBATES</p>
            </div>
            </a>
          </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" >
        <div class="card  border-danger text-center"  >
          <a href="#" routerLink="/programas/sugerencias">
            <img class="card-img-top img-fluid" src="../../../assets/images/my/boton/sugerencias.png" width="100%" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">TE PUEDE INTERESAR</p>
            </div>
          </a>
          </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" >
        <div class="card  border-danger text-center"  >
          <a href="#" routerLink="/programas/resumen">
            <img class="card-img-top img-fluid" src="../../../assets/images/my/boton/resumen.png" width="100%" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">LO MAS IMPORTANTE DEL DIA</p>
            </div>
            </a>
          </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
      <app-publicidad></app-publicidad>
  </div>



</div>