
<app-navbar></app-navbar>
		
    <app-portada></app-portada>
    <router-outlet></router-outlet>

    <app-pie></app-pie>

		<audio id="audio-bg">
		    <source src="../assets/audio/music.mp3">
		</audio>

  <script type='text/javascript' src="../assets/js/jquery-2.1.3.js"></script>
  <script type='text/javascript' src="../assets/assets/js/visuallightbox.js"></script>
  <script type='text/javascript' src="../assets/assets/js/vlbdata.js"></script>
  <script type="text/javascript" src="../assets/assets/js/wowslider.js"></script>
  <script type="text/javascript" src="../assets/assets/js/wowslider-gallery.js"></script>
	<script type="text/javascript" src="../assets/assets/js/script.js"></script>
	<script type="text/javascript" src="../assets/assets/js/script-gallery.js"></script>
  <script type='text/javascript' src="../assets/js/app.js"></script>

  <script type="text/javascript">
 //  $templateCache.removeAll();  
  </script> 
