<div *ngIf="!isLogged" class="container dark-bg no_left no_right no_margin">
    <div class="row">

        <div class=" col-xs-12 	col-sm-6 col-md-6 col-lg-6 logo no_left no_right text-center">
            <a href="#" routerLink="/" *ngIf="urlSafe1">
                <img [src]="urlSafe1" width="100%" class="img-fluid" alt="Responsive image">
            </a>
        </div>	

        <div class=" col-xs-12 	col-sm-6 col-md-6 col-lg-6 logo no_left no_right text-center">
            <a href="#" routerLink="/" *ngIf="urlSafe2">
                <img [src]="urlSafe2" width="100%" class="img-fluid" alt="Responsive image">
            </a>
        </div>	

    </div>

</div>