<div id="content" class="container finance-container row">
    <div class="row">						
        <section class="content contact-content">
                <h2 class="bg-white " >Informacion de Contacto</h2>

                <div class="row" style="margin:1em 0;">
                    <div class="col-md-3 col-xs-12 no_left">
                        <img class="full-width" src="../../../assets/images/my/canal.jpg" alt="about-me"/>
                    </div>

                    <div class="col-md-9 col-xs-12 no_right">
                        <p><span class="strong">Red Mutimedia de Comunicación</span></p>
                        <p>Tarija Bolivia, 2020</p>
                        <br>
                        <p><span class="strong">Para consultas y reservas:</span> <a href="https://api.whatsapp.com/send?phone=&text=Ingrese%20desde%20Portal%20RMC%2C%20Quiero...">+591 68684021</a></p>
                        <p><span class="strong">Para soporte tecnico:</span> <a href="https://api.whatsapp.com/send?phone=&text=Tengo%20Problemas%20con%20el%20Sitio%20RMC">+591 69317629</a> </p>
                        <p><span class="strong">Fax:</span> 66-63157</p>
                        <p><span class="strong">Mail:</span><a class="oranje" href="mailto:royperiodista@gmail.com">royperiodista@gmail.com</a></p>
                        <p><span class="strong">Dirección:</span> Barrio luis de fuentes calle Pedro Nuñez esquina Porcel N° 646</p>
                       
                    </div>
                    <div class="col-md-12 col-xs-12 no_left no_right">
                        <br>
                        
                        <img class="full-width boder-12" src="../../../assets/images/my/mapa.PNG" alt="about-me"/>
                    </div>
                </div>
                <div class="clear"></div>
            </section>
    </div>
</div>

